p{
    background-color: lavenderblush;
    padding: 10px;
    margin: 10px;
    width: 20%;
    display: inline-block;
    
}
p::first-letter {
    font-size: 180%;
    font-weight: bolder;
    color: red;
}
