ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: dotted 20px green;

}

li {
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    text-align: center;
    display: inline;
}